<html>
<head></head>
<body>
  <p>Hello, <%= @us %></p>
  <hr />	
 <h1 class = "headers2">Welcome to your home! Here is your images: </h1>
 <hr />
 <% for post in @pos -%>
 <h3><a href = 'http://localhost:3000/users/post/<%= post.id %>/<%= @id_user_home %>'><%= post.title %></h3>
 <p><%= image_tag(post.postbody, :size => "200x200") %></p></a>
 <p><i><small><%= post.author %> at <%= post.created_at %></small></i>
 </p>
 <hr />
 <% end %>
 <p><h2>Upload new image:</h2></p>
 
<%= form_tag({:controller => "users", :action => "upload", :id_user_post => @id_user_home},:multipart => true) do %>
  <p>Title:
  <%= text_field_tag :title %></p>
  <%= file_field_tag(:postbody, :accept => "image/png,image/gif,image/jpeg") %>
  <%= submit_tag 'Upload' %>
<% end %>
</ body>
</html>