<html>
<head></head>
<body>
  <p>You entered how <%= @us %></p>
  <hr />	
 <h1>Here's photos: </h1>
 <hr />
 <% for post in @pos -%>
 <h3><a href = 'http://localhost:3000/users/post/<%= post.id %>/<%= @id_user_home %>'><%= post.title %></a></h3>
 <p><i><small><%= post.author %> at <%= post.created_at %></small></i>
 </p>
 <hr />
 <% end %>
 <p><h2>Create new post:</h2></p>
 <%= form_tag(:controller => 'users', :action => 'create_post', :id_user_post => @id_user_home) do -%>
 Title: <br />
 <%= text_field_tag :title %>
 <br />
 Post: <br />
 <%= text_field_tag :postbody %>
 <br />
 <%= submit_tag 'Create post' %>
 <% end -%> 
 </ body>
</html>